.cactus-body {
  width: 50px;
  position: relative;
}

.arm {
  position: absolute;
}
.left {
  width: 40px;
  height: 20px;
  bottom: 30%;
  left: 100%;
}
.left::after {
  border-radius: 20px 20px 0px 0px;
}
.right::after {
  border-radius: 20px 20px 0px 0px;
}

.leftt {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  height: 70px;
  width: 20px;
}
.right {
  width: 60px;
  height: 20px;
  bottom: 50%;
  right: 100%;
}
.rightt {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
}

.blendMode .blend {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  object-fit: cover;
}
