.cactus-body {
  width: 50px;
  position: relative;
}

.arm {
  position: absolute;
}
.left {
  width: 40px;
  height: 20px;
  bottom: 30%;
  left: 100%;
}
.left::after {
  border-radius: 20px 20px 0px 0px;
}
.right::after {
  border-radius: 20px 20px 0px 0px;
}

.leftt {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  height: 70px;
  width: 20px;
}
.right {
  width: 60px;
  height: 20px;
  bottom: 50%;
  right: 100%;
}
.rightt {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 20px;
}

.loader {
  position: relative;
  border-radius: 50%;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  background-color: rgb(37, 34, 33);
}

.circle {
  background: rgb(83, 84, 83);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
.inside {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
